[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
scipy = "*"
numpy = "*"
notebook = "*"
seaborn = "*"
arch = "*"
yfinance = "*"

[dev-packages]

[requires]
python_version = "3.11"
